.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 210px;
  width: 100%;
  padding: 0;
  color: white;
  
  background-image: url("../images/dev-background.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 30% -100%;
  background-size: contain;
}

.App-header-overlay {
  height: 150px;
  width: 100%;

  padding-top: 60px;
  
  background-color: rgba( 127, 127, 127, 0.75);
}

.Landing-Course {
  padding-top: 10px;
}

article.Above-the-fold {
  background-color: rgba( 1, 1, 1, 0.0625);

  max-width: 80vw;
  margin: auto;
  
  margin-bottom: 50px;
}
