.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 180px;
  width: 100%;
  padding: 0;
  color: white;
  
  background-image: url("../images/dev-background.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 30% -100%;
  background-size: contain;
}

.App-header-overlay {
  height: 120px;
  width: 100%;

  padding-top: 60px;
  
  background-color: rgba( 127, 127, 127, 0.75);
}
