.Curriculum {
  padding-top: 90px;
}

.Curr {
}

.Curr-tablets {
  margin-left: 10px;
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  text-align: left;
}

.Curr-topic {
  width: 35vw;
  margin-left: calc( 10vw - 70px );
}

@media (max-width: 700px) {
  .Curr-topic {
    margin-left: 0;
  } 
}

.topic-header {
  margin-left: 30px;
}

.topic-body {
  margin-left: 0px;
  border-left: 1px solid gray;
  padding-left: 5px;

  font-size: 0.875em;
}

.Curr-code {
  width: 50vw;
  min-width: 400px;
  margin-left: calc( 10vw - 70px );
}

@media (max-width: 700px) {
  .Curr-code {
    margin-left: 0;
  } 
}

.Curr-topic span.topic-title {
  line-height: 24px;
  vertical-align: top;
  margin-left: 1em;
}

.Curr-learn-more {
  margin: 20px 0 40px 0;
}

.Curr-learn-more hr {
  display: inline-block;
  vertical-align: middle;
  width: 30vw;
  margin: 0 10px;

  background-color: lightgray;
}
